.layout {
  height: 100vh;
  display: grid;
  grid-template-rows: 65px 1fr;
}

.layout .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 12px;
}

.layout .title {
  color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 12px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.layout .title .h2 {
  display: block;
  max-width: 400px;
  line-height: 45px;
  overflow: hidden;
  text-overflow: ellipsis;
}

span {
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  font-stretch: normal;
}

.layout .search {
  min-width: 300px;
  background-color: limegreen;
}

.layout .filter select {
  margin-left: 12px;
  padding: 12px 20px 12px 12px;
  height: 48px;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='#444' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
  background-position: 100% 50%;
  background-repeat: no-repeat;
}

.layout .content {
  background-color: #111;
}
.layout input[type='text'] {
  display: block;
  background-color: #f2f3f5;
  border: 1px solid transparent;
  width: calc(100% - 32px);
  height: 45px;
  padding: 0 15px;
  border-radius: 2px 0 0 2px;
  font-size: 13px;
}
.content {
  padding: 12px;
}
.content .movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: repeat(2, 1fr);
}
